NEXT_PUBLIC_API_URL=http://localhost:3001/v1
NEXT_PUBLIC_FIREBASE_PROJECT_ID=demo-flasharo
NEXT_PUBLIC_FIREBASE_API_KEY=demo-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=demo-flasharo.firebaseapp.com
NEXT_PUBLIC_USE_AUTH_EMULATOR=true
NEXT_PUBLIC_AUTH_EMULATOR_URL=http://127.0.0.1:9099
